.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 94, 126);
    
}


a{
    text-decoration: none;
    
}

.btn-div{
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.btn{
    height: 35px;
    border-radius: 5px;
    width: 90px;
}

.register{
    background-color: blue;
    color: white;
    border: none;
}

.login{
    color: blue;
    background-color: white;
    border-color: blue;
}

.short-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    padding: 0;
}

#p1{
    font-size: 8rem;
    color: rgb(218, 42, 42);
    font-family: fantasy;
    font-weight: lighter;
    margin: 0;
}

#p2{
    font-size: 2rem;
    color: rgb(105, 99, 99);
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
